body{
    margin:20px;
    border: 13px dotted cornsilk;
    background: rgba(36, 35, 35,0.9);
    font-family: "Great Vibes", sans-serif;
}

.jumbotron{
    margin-top: 30px;
}

.icon{
    font-family : "Arial",serif;
}

html {
	height: 30px;
}
ul li a:hover {
    background: rgba(0,255,255,0.2);
}

#center{
    text-align:center;
    color: silver;
    background: rgba(0,0,0,0.5);
    border:none;
}
